.channel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container {
    width: 77vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headers {
    display: flex;
    align-items: center;
    width: 100%;
}

.texts {
    display: flex;
    flex-direction: column;
    width: 93%;
}

.texts h2 {
    color: #fff;
    font-weight: 600;
}

.texts h3  {
    color: #a2a2ad;
    font-weight: 400;
}

.sliders {
    width: 7%;
    display: flex;
    justify-content: space-between;
}

.sliders button {
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
    border-radius: 100px;
}

.sliders button:hover {
    background-color: #80808070;
}

.organize {
    width: 100%;
    display: flex;
    align-items:center;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
 
.organize::-webkit-scrollbar {
    display: none;
}

.organize .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}