.MusicContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.image {
    position: relative;
    width: 280px;
    height: 280px;
    cursor: pointer;
}

.image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 400ms;
    border-radius: 10px;
}

.image img:hover {
    opacity: 0.7;
}

.buttons {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    left: 0;
    bottom: 0;
    margin: 1rem;
    gap: 1rem;
}

.buttons button {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: var(--white-one);
    color: var(--black);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.buttons button:hover {
    background-color: var(--gray-one);
}

.btn {
    display: none;
}

.addButton {
    display: flex;
    animation: opacity-animation 600ms normal;
}

@keyframes opacity-animation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.MusicContainer h2 {
    color: var(--white-one);
    font-size: 18px;
    font-weight: 400;
}

.MusicContainer span {
    display: flex;
    gap: 3px;
}

.MusicContainer span,
.MusicContainer span a {
    color: var(--gray-one);
    font-size: 14px;
}

.MusicContainer span a:hover {
    text-decoration: underline;
}

.MusicContainer p {
    font-size: 13px;
    color: var(--gray-two);
}