.highlight {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

.highlight:hover {
    opacity: 0.7;
}

.highlight img {
    border-radius: 5px;
    width: 570px;
}

.play-button-end {
    position: relative;
    z-index: 2;
    width: 55px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 15px;
}