.selectForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.selectForm label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
}

.selectForm select {
    border-radius: 5px;
    border: none;
    height: 54px;
    outline: none;
}