.topContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.profile {
    display: flex;
    gap: 2rem;
}

.profile img {
    border-radius: 200px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.infoArtist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.infoArtist h1 {
    font-size: 32px;
}

.infoArtist p {
    font-size: 16px;
}

.infoArtist .buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.infoArtist .buttons button:not(:first-child) {
    height: 40px;
    width: 40px;
    border: 1px solid var(--dark-gray-two);
    color: var(--white-one);
}

.infoArtist .buttons button:not(:first-child):hover {
    border-color: var(--pink-red-one);
    color: var(--pink-red-one);
}

.medias {
    display: flex;
    gap: 10px;
}

.medias svg {
    cursor: pointer;
    transition: 400ms;
}

.medias svg:hover {
    fill: #FFF;
}