.button,
.activeButton {
	list-style: none;
	height: 46px;
}

.button a,
.activeButton a {
	cursor: pointer;
	transition: 400ms;
	display: flex;
	align-items: center;
	color: #fff;
}

.button a:hover {
	color: #ef5466;
}

.button svg,
.activeButton svg {
	padding-right: 15px;
}

.activeButton a{
	color: #ef5466;
	border-right: #ef5466 solid 4px;
}