.infoContent {
	overflow-x: auto;
	height: calc(100vh - 56px - 80px);
}

.infoContent::-webkit-scrollbar-track {
	background-color: #191922;
	border-left: 1px solid #45454e;
}

.infoContent::-webkit-scrollbar {
	width: 8px;
}

.infoContent::-webkit-scrollbar-thumb {
	background: #686666;
	border-radius: 20px;
}