.nav {
    height: 45px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    border-bottom: 1px #23232d solid;
}

.nav li {
    height: 100%;
    color: #a2a2ad;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    transition: 400ms;
    cursor: pointer;
}

.nav li a {
    color: #fff;
}

.nav li:hover {
    color: #fff;
    border-color: #A2A2AD;
}