.mainResult {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainResult h1 {
    font-size: 24px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    border-bottom: 1px solid var(--dark-gray-two);
}

.profile img {
    width: 175px;
    height: 175px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: 500ms;
}

.profile img:hover {
    opacity: .7;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.infos h2 {
    font-size: 18px;
    color: var(--white-one);
}

.infos div {
    width: 50%;
    background-color: var(--dark-gray-one);
    color: var(--white-one);
    display: grid;
    place-items: center;
    font-size: 12px;
}

.musics {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.musics a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.musics a h1, 
.musics a svg {
    transition: 300ms;
}

@keyframes arrow-left {
    0% {
        transform: translate3d(0, 0, 0);
    } 50% {
        transform: translate3d(10px, 0, 0);
    } 100% {
        transform: translate3d(0, 0, 0);
    }
}

.musics a:hover > h1{
    color: var(--pink-red-one);
}

.musics a:hover  svg {
    animation: arrow-left 500ms ease;
    fill: var(--pink-red-one);
}

.musicInfos {
    padding: 1rem 0;
}