.image-cube {
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.image-end {
    height: 264px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    cursor: pointer;
}

.image-end:hover {
    opacity: 0.7;
}

.image-end img {
    height: 264px;
    width: 264px;
    border-radius: 5px;
}

.image-cube span {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
    font-weight: 500;
}

.image-cube span:hover {
    text-decoration: underline;
}

.image-cube p{
    font-size: 16px;
    line-height: 18px;
    color: #a2a2ad;
}