.image-cube {
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.image-cube img {
    height: 264px;
    width: 264px;
    border-radius: 5px;
    transition: 400ms;
    cursor: pointer;
}

.image-cube img:hover {
    opacity: 0.6;
}

.image-cube span {
    color: #fff;
    font-size: 17px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;
}

.image-cube span:hover {
    text-decoration: underline;
}

.image-cube p{
    font-size: 16px;
    line-height: 18px;
    color: #a2a2ad;
}