.infosList span {
    color: var(--white-one);
    font-size: 16px;
}

.infosList ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.infosList ul li{
    color: var(--gray-one);
    font-size: 14px;
    cursor: pointer;
    transition: 400ms;
    margin-top: 10px;
}

.infosList ul li:hover {
    color: var(--white-one);
}

@media screen and (max-width: 700px) {
    .infosList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infosList ul {
        align-items: center;
    }
}