.topContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topContent h1 {
    color: #fff;
}

.searchOption {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
}
