@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Work+Sans:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar-track {
	background-color: #191922;
	border-left: 1px solid #45454e;
}

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-thumb {
	background: #686666;
	border-radius: 20px;
}

h1, h2, h3, p, span, li, a, button {
    font-family: var(--ubuntu-font);
}

h1 {
    color: var(--white-one);
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    color: var(--white-one);
    font-size: 20px;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-weight: 400;
    color: var(--gray-one);
    margin-block-start: 0;
    margin-block-end: 0;
}

span {
    font-weight: 300;
    color: var(--gray-two);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-one);
    outline: none;
    cursor: pointer;
    transition: 400ms;
}

button {
    display: flex;
	justify-content: center;
    align-items: center;
    background: none;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    cursor: pointer;
	color: #fff;
    transition: 500ms;
}

img {
    object-fit: cover;
    object-position: center;
}