:root {
    /* Colors */ 

    --white-one: #fff;
    --transparent-white: #ffffff66;
    --gray-one: #a2a2ad;
    --gray-two: #92929d;
    --dark-gray-one: #45454e;
    --dark-gray-two: #52525D;
    --black: #000;
    --black-one: #121216;
    --black-two: #191922;
    --black-three: #23232d;
    --pink-red-one: #EF5466;
    --dark-pink-one: #DB343D;

    /* Fonts */

    --ubuntu-font: Ubuntu, Arial, sans-serif;
}