.buttonOption {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: pointer;
	transition: 400ms;
	height: 46px;
}

.buttonOption:hover,
.spans span:hover {
	color: #ef5466;
}

.buttonOption svg {
	padding-right: 15px;
}