.app {
	display: flex;
	flex-direction: column;
}

.top {
	display: flex;
}

/* Estilizando Menu lateral - INICIO */

.leftMenu {
	position: fixed;
	left: 0;
	z-index: 6;
	height: 100%;
	width: 220px;
	background-color: var(--black-two);
	border-right: 1px solid var(--dark-gray-one);
}

.leftMenu img {
	margin: 14px 24px;
	margin-bottom: 2rem;
	width: 125px;
}

.subscribe {
	background-image: linear-gradient(56deg, #0087c1 13%, #89d7bb);
	border-radius: 10px;
	padding: 1.5rem 1rem;
	margin: 1rem;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
}

.subscribe p {
	color: #fff;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 10px;
}

.subscribe button {
	border: 1px solid var(--white-one);
	width: 150px;
	height: 40px;
}

.subscribe button:hover {
	background-color: var(--transparent-white);
}

.optionsNavigations {
	overflow-x: hidden;
	height: calc(100vh - 360px);
	padding: 0 2rem;
}

.optionsNavigations::-webkit-scrollbar-track {
	background-color: transparent;
}

.optionsNavigations::-webkit-scrollbar {
	width: 6px;
}

.optionsNavigations::-webkit-scrollbar-thumb {
	background: var(--white-one);
	border-radius: 15px;
}

.optionsOne {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.optionsOne h1 {
	font-size: 18px;
}

.optionsTwo {
	display: flex;
	flex-direction: column;
	gap: 7px;
	margin-left: 2.5rem;
}

.optionsTwo span {
	font-size: 14px;
	transition: 400ms;
	color: #a2a2ad;
	cursor: pointer;
}

.optionsTwo span:hover {
	color: var(--pink-red-one);
}

.optionsOne li a {
	display: flex;
	align-items: center;
}

.optionsOne li a:hover h1 {
    color: var(--pink-red-one);
}

.optionsOne li a:hover svg {
    fill: var(--pink-red-one);
}

.optionsOne li a svg {
	padding-right: 15px;
}
.activeButton a {
	border-right: var(--pink-red-one) solid 4px;
}

.activeButton a h1{
	color: var(--pink-red-one);
}

.activeButton a svg {
	fill: var(--pink-red-one);
}

/* Estilizando Menu lateral - FIM */


/* Estilização do header - INICIO */

.contentRight {
	margin-left: 220px;
	width: calc(100% - 220px);
	background-color: var(--black-one);
}

header {
	width: calc(100% - 220px);
	background-color: var(--black-one);
	position: fixed;
	top: 0;
	z-index: 5;
	height: 56px;
	border-bottom: 1px solid #45454e;
	display: flex;
}

header .textBox {
	width: 50%;
	display: flex;
	align-items: center;
	margin: 0px 20px;
}

header .textBox .search {
	width: 100%;
	display: flex;
}

.search input {
	background: none;
	border: none;
	font-size: 1rem;
	color: #fff;
	width: 100%;
	outline: none;
}

.remove {
	opacity: 0;
	cursor: default;
}

.active {
	opacity: 1;
}

header .profile {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

header .profile .iconsProfile {
	width: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

header button {
	display: grid;
	place-items: center;
	height: 70%;
	background: none;
	border: none;
	cursor: pointer;
	transition: 400ms;
	color: #fff;
	border-radius: 150px;
}

.search button,
.textBox button {
	color: #32323D;
}

.textBox button:hover {
	color: #5f5f6d;
}

.iconsProfile button:hover {
	background-color: #5f5f6d;
}

/* Estilização do Header- FIM */

/* Estilização do play de musica - INICIO */

.bottom {
	height: 80px;
	width: 100%;
	background-color: #23232d;
	border-top: 1px solid #45454e;
	position: fixed;
	bottom: 0;
	z-index: 5;
}

/* Estilização do play de musica - FIM */

/* Responsividade */

@media screen and (max-width: 920px) {
	.leftMenu {
		width: 180px;
	}

	.contentRight {
		margin-left: 180px;
		width: calc(100% - 180px);
	}

	.leftMenu img {
		width: 90px;
	}

	.subscribe {
		padding: 1rem .5rem;
		align-items: center;
	}

	.subscribe p {
		text-align: center;
		font-size: 10px;
		line-height: 13px;
	}	
	
	.subscribe button {
		width: 80px;
		height: 20px;
		font-size: 10px;
	}

	.optionsNavigations {
		padding: 0 1rem;
	}

	.optionsOne h1 {
		font-size: 14px;
	}

	.optionsOne svg {
		width: 35px;
		height: 35px;
	}

	.activeButton a {
		border-right: var(--pink-red-one) solid 3px;
	}

	.optionsTwo span {
		font-size: 12px;
	}
}

@media screen and (max-width: 520px) {
	.leftMenu {
		width: 140px;
	}

	.contentRight {
		margin-left: 140px;
		width: calc(100% - 140px);
	}

	.leftMenu img {
		width: 70px;
	}

	.optionsOne {
		gap: unset;
	}

	.optionsTwo span {
		font-size: 10px;
	}

	.optionsTwo {
		margin-left: 2rem;
	}

	.optionsOne h1 {
		font-size: 12px;
	}

	.optionsOne svg {
		width: 30px;
		height: 30px;
	}
}