@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Work+Sans:wght@100&display=swap');

* {
	font-family: Ubuntu;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.App {
	display: flex;
	flex-direction: column;
}

.top {
	display: flex;
}

.left-menu {
	width: 220px;
	background-color: #191922;
	border-right: 1px solid #45454e;
}

.logo-top {
	display: flex;
	align-items: center;
	margin: 14px 24px;
	padding-bottom: 6px;
}

.logo-top img {
	height: 24px;
}

/* Card de Assinar agora no sidebar */

.subscribe {
	background-image: linear-gradient(56deg, #0087c1 13%, #89d7bb);
	border-radius: 10px;
	margin: 36px 16px 12px;
	padding: 16px 16px;
	color: #fff;
	font-size: 13px;
	font-weight: lighter;
	font-family: 'Open Sans",Helvetica,Arial,sans-serif';
	line-height: 18px;
}

.subscribe button {
	background: none;
	border: 1px solid #fff;
	border-radius: 30px;
	width: 150px;
	height: 40px;
	transition: 500ms;
	cursor: pointer;
	color: #fff;
}

.subscribe button:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

/* Estilizando opções da siderbar */

.left-menu section {
	overflow-x: hidden;
	height: calc(100vh - 80px - 300px);
}

.left-menu section::-webkit-scrollbar-track {
	background-color: transparent;
}

.left-menu section::-webkit-scrollbar {
	width: 6px;
}

.left-menu section::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 15px;
}

.icon-options {
	height: 25%;
	height: 230px;
}

.more-options {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0px 80px;
	gap: 10px;
}

.more-options span {
	font-size: 14px;
	transition: 400ms;
	color: #a2a2ad;
	cursor: pointer;
}

.more-options span:hover {
	color: #EF5466;
}

.content {
	width: 100%;
	background-color: #121216;
}

header {
	height: 56px;
	border-bottom: 1px solid #45454e;
	display: flex;
}

header .text-box {
	width: 50%;
	display: flex;
	align-items: center;
	margin: 0px 20px;
}

header .text-box .search {
	width: 100%;
	display: flex;
}

.search input {
	background: none;
	border: none;
	font-size: 1rem;
	color: #fff;
	width: 100%;
	outline: none;
}

header .profile {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

header .profile .icons-profile {
	width: 100px;
	display: flex;
	justify-content: space-evenly;
}

header button {
	background: none;
	border: none;
	cursor: pointer;
	transition: 400ms;
	color: #fff;
	border-radius: 150px;
}

.search button,
.text-box button {
	color: #32323D;
}

.text-box button:hover {
	color: #5f5f6d;
}

.icons-profile button:hover {
	background-color: #5f5f6d;
}

/* Distanciando as imagens da primeira section de music*/

#img2 {
	width: 150px;
    z-index: 3;
}

#img0 {
    z-index: 1;
	width: 110px;
    margin-right: 19rem;
}

#img1 {
    z-index: 2;
	width: 130px;
    margin-right: 11rem;
}

#img3 {
   z-index: 1;
   width: 110px;
   margin-left: 19rem;
}

#img4 {
	width: 130px;
    z-index: 2;
    margin-left: 11rem;
}

.bottom {
	height: 80px;
	width: 100%;
	background-color: #23232d;
	border-top: 1px solid #45454e;
	position: absolute;
	bottom: 0;
	z-index: 5;
}