.channel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.channel:first-child {
    align-items: center;
    height: 300px;
}

.channel p {
    font-size: 1rem;
}

.channel h2 {
    color: var(--white-one);
}

.artists {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artists img {
    position: absolute;
    border-radius: 200px;
    object-fit: cover;
    object-position: center;
}

.containerRectangle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

