.infoContent { /* Estilizando campo para adicionar artistas */
	height: 100%;
    width: calc(100% - 220px);
    margin-left: 220px;
    margin-top: 56px;
}

.channel {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.artistAdd {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #D1D1D6;
    font-size: 15px;
}

.artists {
    position: relative;
}

.figureImage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.figureImage img {
    border-radius: 200px;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.quizzes { /* Estilizando section de quizzes */
    width: 77vw;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 600;
}

.containerRectangle {
    display: flex;
    justify-content: space-between;
}

