.App {
  width: 100vw;
  heigth: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top{
  width: 100px;
  height: calc(100% - 80px);
  background-color: red;
}
.bottom{
  min-height: 80px;
  width: 100%;
  background-color: green;
}
