@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@300&family=Work+Sans:wght@100&display=swap');

/* Estilizando campo para adicionar artistas */

.info-content {
	width: 100%;
	overflow-x: auto;
	margin: 0;
	height: calc(100vh - 56px - 80px);
}

.info-content::-webkit-scrollbar-track {
	background-color: #191922;
	border-left: 1px solid #45454e;
}

.info-content::-webkit-scrollbar {
	width: 8px;
}

.info-content::-webkit-scrollbar-thumb {
	background: #686666;
	border-radius: 20px;
}

.channel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.channel .artist-add {
    width: 800px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #D1D1D6;
    font-size: 15px;
}

.channel .artist-add button{
    height: 40px;
    width: 200px;
    background-color: #EF5466;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    border-radius: 40px;
    transition: 400ms;
    cursor: pointer;
}

.channel .artist-add button:hover {
    background-color: #aa2938;
}

.artists {
    background-color: aliceblue;
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-center {
    z-index: 3;
}

#img-left {
    z-index: 1;
    margin-right: 17rem;
}

#img-almost-left {
    z-index: 2;
    margin-right: 10rem;
}

#img-right {
   z-index: 1;
   margin-left: 17rem;
}

#img-almost-right {
    z-index: 2;
    margin-left: 10rem;
}

/* Estilizando section de quizzes */

.channel .quizzes {
    width: 77vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.quizzes h2 {
    width: 100%;
    color: #fff;
    font-weight: 600;
}

/* Estilizando o Feito para voce */

.for-you {
    width: 77vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.for-you h2 {
    width: 100%;
    color: #fff;
    font-weight: 600;
}

.for-you .organize {
    width: 100%;
    display: flex;
    align-items:center;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
 
.for-you .organize::-webkit-scrollbar,
.favorites .organize::-webkit-scrollbar {
    display: none;
}

.for-you .organize .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}

/* Estilizando os artistas favoritos */

.favorites {
    width: 77vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorites .container-text {
    width: 100%;
    color: #fff;
    font-weight: 600
}

.favorites .organize {
    width: 100%;
    display: flex;
    align-items:center;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.favorites .organize .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}

