.figureImage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.figureImage img {
    border-radius: 100px;
    position: absolute;
}