.modalContainer {
    display: flex;
    justify-content: end;
    align-items: start;
    margin-top: 56px;
}

.boxContainer {
    padding-right: 10px;
    z-index: 8;
}

@keyframes animation-top {
    from {
        opacity: 0;
        transform: translate3d(0,-60px,0);
    } to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.boxContainer section {
    background-color: #23232d;
    max-height: calc(100vh - 56px - 80px - 40px);
    width: 360px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    animation: animation-top 500ms normal;
}

.boxContainer section::-webkit-scrollbar-track {
	background-color: #191922;
}

.boxContainer section::-webkit-scrollbar {
	width: 10px;
}

.boxContainer section::-webkit-scrollbar-thumb {
	background: #686666;
	border-radius: 20px;
}

.boxContainer section .menu {
    border-top: 1px #a2a2ad27 solid;
    border-bottom: 1px #a2a2ad27 solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menuButton {
    box-sizing: border-box;
    padding-right: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 400ms;
    padding-top: 10px;
}

.menuButton:hover {
    background-color: #505052;
}

@keyframes arrow {
    0% {
        transform: translate3d(0, 0, 0);
    } 50% {
        transform: translate3d(5px, 0, 0);
    } 100% {
        transform: translate3d(0, 0, 0);
    }
}

.add {
    animation: arrow 500ms normal;
}

.menuButton span {
    color: #fff;
    font-size: 14px;
    padding: 0 12px;
}

.imageProfile {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.imageProfile img {
    border-radius: 100px;
}

.getDeezer {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px 0;
}

.getDeezer #textDeezer {
    font-size: 14px;
    color: #fff;
}

.getDeezer span {
    font-size: 13px;
    color: #686666;
}