.modalContainer {
    display: flex;
    justify-content: end;
    margin-top: 56px;
}

.boxContainer {
    margin-right: 10px;
    z-index: 8;
}

@keyframes animation-top {
    from {
        opacity: 0;
        transform: translate3d(0,-60px,0);
    } to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.boxContainer section {
    background-color: var(--black-three);
    height: calc(100vh - 56px - 80px - 40px);
    width: 360px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    animation: animation-top 500ms normal;
}

.boxContainer section::-webkit-scrollbar-track {
	background-color: var(--black-two);
}

.boxContainer section::-webkit-scrollbar {
	width: 10px;
}

.boxContainer section::-webkit-scrollbar-thumb {
	background: var(--dark-gray-two);
	border-radius: 20px;
}

.boxContainer section .menu {
    border-top: 1px #a2a2ad27 solid;
    border-bottom: 1px #a2a2ad27 solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@keyframes arrow {
    0% {
        transform: translate3d(0, 0, 0);
    } 50% {
        transform: translate3d(5px, 0, 0);
    } 100% {
        transform: translate3d(0, 0, 0);
    }
}

.add {
    animation: arrow 500ms normal;
}

.button {
    box-sizing: border-box;
    padding-right: 10px;
    cursor: pointer;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 400ms;
    padding: 0 .5rem;
}

.button:hover {
    background-color: var(--dark-gray-two);
}

#checkMode {
    display: none;
}

#checkMode:checked ~ .button label {
    background-color: var(--pink-red-one);
}

.button label {
    height: 20px;
    z-index: 10;
    width: 20px;
    border: 1px solid var(--dark-gray-one);
    border-radius: 5px;
    margin: 12px;
}

.button span {
    color: var(--white-one);
    font-size: 14px;
    padding: 12px;
}

.imageProfile {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 1rem 0rem;
}

.imageProfile img {
    border-radius: 100px;
}

.getDeezer {
    display: flex;
    align-items: start;
    flex-direction: column;
}

#offert {
    font-size: 14px;
    color: #fff;
}

.getDeezer span {
    font-size: 13px;
    color: var(--dark-gray-one);
}

@media screen and (max-width: 920px) {
    .modalContainer {
        margin-top: 45px;
    }

    .boxContainer section {
        height: calc(100vh - 45px - 80px - 40px);
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .boxContainer section {
        height: 60vh;
        width: 250px;
    }
}