.button button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 45px;
    font-size: 15px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 1px 20px 0 rgb(31 31 31/35%);
    cursor: pointer;
    margin-bottom: 25px;
    transition: 400ms;
    outline: transparent;
}

.pink {
    border: none;
    width: 100%;
    background-color: #EF5466;
    color: #fff;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

.white {
    border: none;
    background-color: #fff;
    color: #191919;
}

.gray {
    border: none;
    background-color: #808080;
    color: #fff;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

.black {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    border: 1px solid #52525D;
    background: none;
    color: #fff;
}

.blue {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    border: none;
    background-color: #4267B2;
    color: #fff;
}

.blue:hover {
    background-color: #335392;
}

.white:hover {
    background-color: #e0e0e0;
}

.gray:hover {
    background-color: #a5a5a5;
}

.pink:hover {
    background-color: #DB343D;
}

.black:hover {
    border-color: #fff;
    background-color: #ffffff36;
}