.channel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleSlider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.texts h2 {
    color: var(--white-one);
}

.texts h3  {
    color: var(--gray-one);
}

.sliders {
    display: flex;
    gap: 2rem;
}

.sliders button {
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 100px;
}

.sliders button:hover {
    background-color: var(--dark-gray-one);
}

.carousel {
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
    gap: 2rem;
}