.music {
    padding: 2rem 6rem;
}

.format {
    display: flex;
    align-items: center;
}

.format h1 {
    font-weight: 500;
    padding: 0 10px;
    white-space: nowrap;
}

#line {
    width: 100%;
    border-top: 1px solid #32323D;
}

.selects {
    display: flex;
    gap: 1rem;
    padding: 0 10px;
}
  
.music section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}