.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px 1rem;
    cursor: pointer;
}

#background {
    background-color: #191922;
}

.left {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left p {
    color: #fff;
    font-size: 16px;
}

.image {
    position: relative;
    display: grid;
    place-items: center;
}

.image button {
    background-color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
}

.image img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.add {
    display: flex;
}

.remove {
    display: none;
}

.right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos {
    display: flex;
    gap: 6px;
}

.right button {
    width: 30px;
    height: 30px;
}

.right button:hover {
    background-color: var(--transparent-white);
}

.right h3 {
    color: var(--white-one);
    font-size: 15px;
}

.right span {
    font-size: 15px;
    color: var(--gray-two);
}



.right input[type='checkbox'] {
    display: none;
}

.right label {
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark-gray-one);
    border-radius: 5px;
    cursor: pointer;
}

.right input[type='checkbox']:checked ~ label {
    background-color: var(--pink-red-one);
}