.modalInfos {
    position: absolute;
    right: 0;
    z-index: 3;
    background-color: var(--black-three);
    border-radius: 10px;
    animation: normal animate-modal;
    width: 260px;
}

@keyframes animate-modal {
    from {
        opacity: 0;
        transform: translateY(-100px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.option {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    transition: 400ms;
    cursor: pointer;
}

.option:first-child {
    padding: 15px 10px;
    border-radius: 10px 10px 0 0;
}

.option:last-child {
    padding: 15px 10px;
    border-radius: 0 0 10px 10px;
}

.option:hover {
    background-color: var(--gray-three);
}

.option h3 {
    font-size: 14px;
    color: var(--white-one);
    letter-spacing: 1px;
}

.addContent {
    padding: 10px;
}

.toBack {
    display: flex;
    gap: 5px;
    align-items: center;
}

.toBack button:hover {
    background-color: var(--dark-gray-two);
}

.search {
    padding: 20px 0;
}

.playlists {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.playlist {
    background-color: var(--dark-gray-one);
    transition: 300ms;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.playlist img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.playlist:hover {
    background-color: var(--dark-gray-two);
}