.button-profile {
    box-sizing: border-box;
    padding-right: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 400ms;
}

.button-profile:hover {
    background-color: #505052;
}

.button-profile span {
    color: #fff;
    font-size: 14px;
    padding: 12px;
}

#link-button:-webkit-any-link {
    width: 100%;
    color: #fff;
    text-decoration: none;
}
