.buttonProfile {
    box-sizing: border-box;
    padding-right: 10px;
    cursor: pointer;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 400ms;
}

.buttonProfile:hover {
    background-color: #505052;
}

.buttonProfile span {
    color: #fff;
    font-size: 14px;
    padding: 12px;
}

@keyframes arrow {
    0% {
        transform: translate3d(0, 0, 0);
    } 50% {
        transform: translate3d(5px, 0, 0);
    } 100% {
        transform: translate3d(0, 0, 0);
    }
}

.add {
    animation: arrow 500ms normal;
}