.modal-content {
    z-index: 28;
}

@keyframes opacity {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.opacity-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    animation: opacity 400ms normal;
}

@keyframes flip {
    from {
        transform: rotateY(65deg)
    } to {
        transform: rotateY(0)
    }
}

.opacity-body section {
    background-position: center top;
    background-image: url('../../../assets/background-login.jpeg');
    min-width: 540px;
    min-height: 580px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    animation: flip 500ms linear;
}

.text-click {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.text-click span {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.text-click p,
.form label {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.text-click strong {
    color: #ef5466;
    cursor: pointer;
    transition: 400ms;
}

.text-click strong:hover {
    color: #9b2e3b;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 500px;
}

.form input {
    box-sizing: border-box;
    padding: 15px;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    margin-bottom: 25px;
}

.form button {
    width: 500px;
    height: 60px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #ef5466;
    color: #fff;
    margin-bottom: 40px;
    transition: 400ms;
}

.form button:hover {
    background-color: #b33846;
}

#forget {
    transition: 400ms;
    cursor: pointer;
}

#forget:hover {
    color: #ef5466;
}