.search {
    width: 600px;
    height: 40px;
    background-color: var(--black-three);
    color: var(--gray-one);
    border: 1px solid var(--dark-gray-two);
    border-radius: 5px;
    display: flex;
}

.search button {
    color: var(--dark-gray-two);
}

.search button svg  {
    margin: 5px;
    width: 16px;
    height: 16px;
}

.search input {
    color: var(--white-one);
    padding: 5px;
    background: none;
    border: none;
    font-size: 16px;
}