.infoContent {
    overflow-x: auto;
    height: calc(100vh - 56px - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoContent::-webkit-scrollbar-track {
	background-color: #191922;
	border-left: 1px solid #45454e;
}

.infoContent::-webkit-scrollbar {
	width: 8px;
}

.infoContent::-webkit-scrollbar-thumb {
	background: #686666;
	border-radius: 20px;
}

.radioContainer {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radioContainer h1 {
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
}

.radioContainer button {
    font-size: 16px;
    color: #fff;
    background: none;
    font-weight: 700;
    cursor: pointer;
    height: 36px;
    border-radius: 15px;
    border: 2px solid #52525D;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}

.radioContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77vw;
    list-style-type: none;
}

.radioContent li {
    margin-bottom: 30px;
}

.infoContent footer {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoContent footer span {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.infoContent footer p {
    color: #bebec7;
    font-size: 14px;
    font-weight: 500;
}