.info-content {
	width: 100%;
	overflow-x: auto;
	margin: 0;
	height: calc(100vh - 56px - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-container {
    width: 77vw;
    display: flex;
    justify-content: space-between;
}

.radio-content {
    display: flex;
    flex-wrap: wrap;
}