.info-content {
	width: 100%;
	overflow-x: auto;
	margin: 0;
	height: calc(100vh - 56px - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-container {
    width: 67vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-container h1 {
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
}

.radio-container button {
    font-size: 16px;
    color: #fff;
    background: none;
    font-weight: 700;
    cursor: pointer;
    height: 36px;
    border-radius: 15px;
    border: 2px solid #52525D; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.radio-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    list-style-type: none;
}

.radio-content li {
    margin-bottom: 30px;
}

.info-content footer {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-content footer span {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.info-content footer p {
    color: #bebec7;
    font-size: 14px;
    font-family: 500;
}