.bodyAccount {
    display: flex;
    flex-direction: column;
    background-color: var(--black-one);
}

.topAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--dark-gray-two);
    margin-bottom: 50px;
}

#backgroundAccount {
    width: 80vw;
    filter: blur(100px);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.topAccount section {
    z-index: 1;
    max-width: 383px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topAccount section img {
    height: 20px;
    width: 100px;
    margin-bottom: 70px;
}

.textClick {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textClick h1 {
    font-size: 2.5rem;
}

.textClick h2 {
    font-size: 16px;
    display: flex;
    gap: 5px;
}

.offer { /**/
    border: 2px solid #a2a2ad91;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 35px;
    padding: 20px 40px;
}

.offer span { /**/
    font-size: 14px;
    color: #fff;
    letter-spacing: .5px;
    margin-bottom: 10px;
}

.offer .partnerships { /**/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.offer .partnerships img { /**/
    height: 30px;
    width: 60px;
    margin-bottom: 10px;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.textClick h2 strong {
    color: var(--pink-red-one);
    cursor: pointer;
    transition: 400ms;
}

.textClick h2 strong:hover {
    color: var(--dark-pink-one);
}

.socialMediaAccount {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialMediaAccount button {
    width: 50px;
    height: 50px;
    background-color: var(--white-one);
}

.socialMediaAccount button:hover {
    transform: scale(1.1);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-bottom: 2rem;
}

.form span {
    font-size: 1.1rem;
}

#forget { 
    letter-spacing: 1px;
    font-size: 14px;
    transition: 400ms;
    cursor: pointer;
    margin-bottom: 15px;
}

#forget:hover { 
    color: var(--pink-red-one);
}

/* Estilização do form ScreenLogin.css */

#identity-register { /* Estilizar depois */
    width: 100%;
    height: 54px;
}

#reCAPTCHA {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.topAccount section span strong {
    color: #ef5466;
    transition: 400ms;
}

.topAccount section span strong:hover {
    color: #9b2e3b;
}

.textClick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
}

.textClick h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.textClick span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.textClick strong {
    color: #ef5466;
    cursor: pointer;
    transition: 400ms;
    font-size: 14px;
}

.textClick strong:hover {
    color: #9b2e3b;
}