* {
    font-family: 'Open Sans', sans-serif, Arial;
}

a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}

.bodyAccount {
    background-color: #121216;
}

.topAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #686666;
    margin-bottom: 50px;
}

#backgroundAccount {
    width: 120vw;
    filter: blur(100px);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.topAccount section {
    z-index: 1;
    max-width: 383px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.topAccount section img {
    height: 20px;
    width: 100px;
    margin-bottom: 70px;
}

.topAccount section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.offer {
    border: 2px solid #a2a2ad91;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 35px;
    padding: 20px 40px;
}

.offer span {
    font-size: 14px;
    color: #fff;
    letter-spacing: .5px;
    margin-bottom: 10px;
}

.offer .partnerships {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.offer .partnerships img {
    height: 30px;
    width: 60px;
    margin-bottom: 10px;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.topAccount section h2 {
    margin-bottom: 35px;
    font-size: 15px;
    font-weight: 100;
    overflow-wrap: break-word;
    color: #fff;
    text-align: center;
}

.topAccount section h2 strong {
    color: #ef5466;
    cursor: pointer;
    transition: 400ms;
}

.topAccount section h2 strong:hover {
    color: #9b2e3b;
}

.socialMediaAccount {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.threeLogos button {
    width: 120px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#forget {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bolder;
    transition: 400ms;
    cursor: pointer;
    color: #fff;
    margin-bottom: 35px;
}

#forget:hover {
    color: #ef5466;
}

/* Estilização do form ScreenLogin.css */

#identity-register { /* Estilizar depois */
    width: 100%;
    height: 54px;
}

#reCAPTCHA {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.topAccount section span strong {
    color: #ef5466;
    transition: 400ms;
}

.topAccount section span strong:hover {
    color: #9b2e3b;
}

.textClick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
}

.textClick h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.textClick span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.textClick strong {
    color: #ef5466;
    cursor: pointer;
    transition: 400ms;
    font-size: 14px;
}

.textClick strong:hover {
    color: #9b2e3b;
}