.rectangle {
    width: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 400ms;
    padding: 1rem;
}

.rectangle:hover {
    opacity: 0.6;
}

.rectangle img {
    width: max(5vw, 50px);
}

.rectangleText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rectangleText h1 {
    font-size: 20px;
}

#subtitle {
    font-size: 16px;
    color: #ffffffbd;
}

@media screen and (max-width: 1160px) {
    .rectangle {
        padding: 8px;
    }
    
    .rectangleText {
        gap: 2px;
    }

    .rectangleText h1 {
        font-size: 16px;
    }
    
    #subtitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) {
    .rectangleText h1 {
        font-size: 12px;
    }
    
    #subtitle {
        font-size: 10px;
    }
}

@media screen and (max-width: 680px) {
    .rectangle {
        width: 100%;
    }

    .rectangleText h1 {
        font-size: 16px;
    }
    
    #subtitle {
        font-size: 12px;
    }
}