.infoContent {
	overflow-x: auto;
	height: calc(100vh - 56px - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.topProfile {
    width: 93%;
    border-bottom: 1px #23232d solid;
}

.profile {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 24px;
}

.profile img {
    width: 220px;
    border-radius: 200px;
}

.profileInfos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profileInfos span {
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
}

.follows span {
    font-weight: 300;
    color: #D1D1D6;
    font-size: 14px;
    line-height: 1.4px;
}

.topProfile ul {
    white-space: nowrap;
    height: 12.5%;
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.topProfile ul li {
    color: #a2a2ad;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: 400ms;
    cursor: pointer;
}

.topProfile ul li:hover {
    color: #fff;
    border-color: #A2A2AD;
}