.bottomAccount {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.apps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.apps img {
    width: 140px;
    padding: 20px;
}

.listasInfos {
    padding: 0 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottomInfos {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomInfos img {
    width: 150px;
}

.icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
    color: var(--white-one);
}

.languageAge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.languageAge p {
    color: var(--dark-gray-two);
}

.languageAge span {
    color: var(--white-one);
}

@media screen and (max-width: 700px) {
    .listasInfos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .bottomInfos img {
        width: 100px;
    }

    .languageAge p {
        font-size: 14px;
    }
    
    .languageAge span {
        font-size: 14px;
    }

    .icons svg{
        width: 20px;
        height: 20px;
    }
}